/*$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;*/

/* Import Bootstrap & Fonts */
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

/* *** Global variables and mixins can go here ***
  ------------------------------------------------
*/

$accent-color: #733689;
$main-font: 'Lato', sans-serif;

// Mixins:
@mixin transition($in) {
  transition: $in;
  -webkit-transition: $in;
  -moz-transition: $in;
  -o-transition: $in;
  -ms-transition: $in;
}

@mixin transform($in) {
  transform: $in;
  -webkit-transform: $in;
  -moz-transform: $in;
  -o-transform: $in;
  -ms-transform: $in;
}

@mixin animation($in) {
  animation: $in;
  -webkit-animation: $in;
  -moz-animation: $in;
  -o-animation: $in;
  -ms-animation: $in;
}

/* *** Overall APP Styling can go here ***
   --------------------------------------------
   Note: This Component has ViewEncapsulation.None so the styles will bleed out

*/
.body-content {
  margin-top: 60px;
}

.form-control {
  @include transition(all 0.3s ease);
  border-radius: 0;


  &:focus {
    -webkit-appearance: none!important;
    outline:0px!important;
    border-left: 2px solid $accent-color;
  }
}

h1 {
	color: #622b76;
	font-weight: bold;
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: inherit;
	line-height: 1.1;
}

p {

}


