
.bg-carousel {
  background: url('../../img/homeCarousel-1.png') no-repeat center center;
  background-size:contain;
  min-height: 500px;
}

.bg-stupid-counter {
  background-image:url('../../img/stupidCounterBG.png');
  height:300px;
}
