

<carousel [interval]="carouselInterval">
	<slide>
		<div class="bg-carousel">

			<div class="col-md-2"></div>
			<div class="col-md-5">
				<h5>Tutoring Based on Your Needs</h5>
				<h1>
					Personalized, flexible
					one-on-one instruction
					around your busy schedule
				</h1>
				<h2>Our professionally trained and certified vTutors can help with your specific academic needs</h2>
				<div class=""><button [routerLink]="['/sessions']" class="btn btn-default submit-btn text-center">BOOK YOUR vTUTOR TODAY</button></div>
			</div>


			</div>

</slide>
	<slide>
		<div class="bg-carousel2">
			<div class="col-md-2"></div>
			<div class="col-md-5 ">
				<h5>Whenever and Wherever You Need Us</h5>
				<h1>
					Virtual tutoring sessions
					from any location
					whenever you need us
				</h1>
				<h2>All you need is an Internet connection and a laptop or tablet</h2>
				<div class=""><button [routerLink]="['/sessions']" class="btn btn-default submit-btn text-center">GET STARTED NOW</button></div>
			</div>
		</div>
	</slide>
	<slide>
		<div class="bg-carousel3">
			<div class="col-md-2"></div>
			<div class="col-md-5 ">
				<h5>On-Demand Scheduling</h5>
				<h1>
					Flexible and affordable
					virtual tutoring sessions
					one hour at a time
				</h1>
				<h2>No long-term contracts or expensive packages required</h2>
				<div class=""><button [routerLink]="['/sessions']" class="btn btn-default submit-btn text-center">SIGN UP FOR A SESSION</button></div>
			</div>
		</div>
	</slide>
</carousel>

<div class="container tutsection">
	<div class="row">
		<div class="col-md-0"></div>
		<div class="col-md-12 text-center">
			<h1>Does Your Student Need Help?</h1>
			<h2>We offer one-hour individual sessions for students 6th-12th grade in English, Math, Spanish and French. Sessions are available during weekday afternoons and evenings and on Saturdays so you can select a time that works around your busy schedule.</h2>
			<h3>INDIVIDUALIZED TUTORING SESSION - $54.99</h3>

			<div class=""><button [routerLink]="['/sessions']" class="btn btn-default submit-btn text-center">BOOK YOUR vTUTOR TODAY</button></div>


		</div>
		</div>
	</div>





<div class="bg-counter">
	<div class="row toprow">
		<div class="col-md-12 text-center">
			<h1 class="bob">Some important facts about us</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-md-2 text-center numbers">

			<h1>20<i class="fas fa-plus"></i></h1>
			<h3>vTutors</h3>

		</div>
		<div class="col-md-2 text-center numbers">

			<h1>50<i class="fas fa-plus"></i></h1>
			<h3>Subjects</h3>

		</div>
		<div class="col-md-2 text-center numbers">

			<h1>100<i class="fas fa-plus"></i></h1>
			<h3>Sessions/Week</h3>

		</div>
		<div class="col-md-2 text-center numbers">

			<h1>50<i class="fas fa-plus"></i></h1>
			<h3>Languages Supported</h3>

		</div>
		<div class="col-md-2">
		</div>
	</div>
</div>

