@import "../../app.component.scss";

h5 {
  //color:white;
  padding-top:50px;
  font-family: $main-font;
  font-size: 30px;
  font-weight:300;
}

h1 {
  //color: white;
  font-family: $main-font;
  font-size: 60px;
  font-weight: 900;
}

p {
  //color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.bg-carousel {
	min-height: 600px;
	background-color: black;
	//position: relative;
	background: url('../../img/carousel1.jpg') no-repeat center center;
	background-size: cover;
	/*&:before {
    content:"";
    opacity:0.5;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:absolute;

    background: url('../../img/DSC_2332.jpg') no-repeat center center;
    background-size: cover;
  }*/
}


.bg-carousel2 {
	min-height: 600px;
	background-color: black;
	background: url('../../img/carousel2.png') no-repeat center center;
	background-size: cover;
}

.bg-carousel3 {
	min-height: 600px;
	background-color: black;
	background: url('../../img/carousel3.png') no-repeat center center;
	background-size: cover;
}




.bg-stupid-counter {
  background-image:url('../../img/stupidCounterBG.png');
  height:300px;
}

