

<carousel [interval]="carouselInterval">
	<slide>
		<div class="bg-carousel">
			<div class="col-md-4 offset-md-2">
				<h5>Tutoring Based on Your Needs</h5>
				<h1>
					Personalized, flexible
					one-on-one instruction
					around your busy schedule
				</h1>
				<p>Our professionally trained and certified vTutors can help with your specific academic needs</p>
			</div>
		</div>
		
	</slide>
	<slide>
		<div class="bg-carousel2">
			<div class="col-md-4 offset-md-2">
				<h5>Whenever and Wherever You Need Us</h5>
				<h1>
					Virtual tutoring sessions
					from any location
					whenever you need us
				</h1>
				<p>All you need is an Internet connection and a laptop or tablet</p>
			</div>
		</div>
	</slide>
	<slide>
		<div class="bg-carousel3">
			<div class="col-md-4 offset-md-2">
				<h5>On-Demand Scheduling</h5>
				<h1>
					Flexible and affordable
					virtual tutoring sessions
					one hour at a time
				</h1>
				<p>No long-term contracts or expensive packages required</p>
			</div>
		</div>
	</slide>
</carousel>

<!--<div class="bg-stupid-counter">

</div>-->

