



<div class="container-fliud footer-container">


	<div class="row  footer-top  align-middle">
		<div class="container">
			<div class="row">
			<div class="col-md-6 offset-md-1"><h1>BECOME A vTUTOR TODAY!</h1></div>
			<div class="col-md-2 float-right text-center align-middle"><a class="btn btn-primary submit-btn" href="#" role="button">APPLY NOW</a></div>
				</div>

		</div>


	</div>





		<div class="container footer-content">
			<div class="row">
				<div class="col-md-3">
					<div class="footer-title">ABOUT vTUTOR</div>

					Our mission is to help students everywhere succeed by providing them with online access to professional, interactive and personalized tutoring sessions whenever and wherever they need help.
				</div>
				<div class="col-md-3">
					<div class="footer-title">
						CONTACT
					</div>
					<div class="contact-item">customerservice@vtutor1.com</div>
					<div class="contact-item">
						+1 888-547-3583
					</div><i class="fa fa-phone"></i>
					<div class="contact-item">
						10 Glen Lake Parkway, Suite 130, Atlanta, GA 30328
					</div>
				</div>
				<div class="col-md-3 offset-md-3">
					<div class="footer-title">
						USEFUL LINKS
					</div>
					<ul class="list-unstyled">
						<li class="page_item">
							Student Login
						</li>
						<li class="page_item">
							Refer a Friend
						</li>
						<li class="page_item">
							Become a vTUTOR
						</li>
						<li class="page_item">
							Customer Service
						</li>
						<li class="page_item">
							vTUTOR Login
						</li>
						<li class="page_item">FAQs</li>
					</ul>
				</div>
			</div>


			<div class="row footercopy">
				<div class="pull-left hyper-left">

					<ul class="list-unstyled">
						<li>Home</li>
						<li>Privacy Policy</li>
						<li><a href="www.vtutor1.com">Terms & Conditions</a></li>
					</ul>

				</div>
				<div class="pull-right hyper-right">
					© 2017 vTutor Online Tutoring. All rights reserved
				</div>


			</div>






		</div>
	</div>
